h1{
  color: white;
  text-align: center;

}
table, th, td {
  border:  solid;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(1, 240, 240, 0.774); 
}
html{
  background-color: rgb(53, 47, 47);
}
p{
  color: white;
  font: 25px arial, sans-serif;
  display:inline-block;
  padding-right: 30px;
  padding-left: 130px;
  margin-left: 70px;
 
}
#Jugador1,#Jugador2{
  color: white;
  text-align: center;
  font: 25px arial, sans-serif;
  display:inline-block;
}
#restart{
margin-left: 50px;
BORDER: rgb(255, 251, 0) 1.5px dashed;
background-color: green;
font: 3px;
}
footer{
  padding-top: 100px;
  color: white;
}

